*{
	border: 0;
	margin: 0;
	padding: 0;
}

body{
	background: #cccccc;
	font-family:Arial,Helvetica,sans-serif;font-size:12px;
	color:#454545;
}


#wrapper{
	background: #153C8B;
	height: 250px;
	width: 100%;
}
#header h1
{
	text-align: center;
	color:#F7E5E5;
	font:normal 14px Georgia, "Times New Roman",Times,serif;
	font-size:3.6em;
	position:relative;
	top: 0px;
}
#header h2
{
	text-align: center;
	color:#F7E5E5;
	font-family: "calibri", Garamond, 'Comic Sans';
	font-size:2.0em;
	position:relative;
	bottom: -10px;
}
#header img
{
	margin: 0px 0px
}


#contenedor{
	background: #dddddd;
	width: 950px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

#menu {
	width:950px;
	padding:auto;
	background: #757;
}
#menu ul,#menu_s ul {
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
}
#menu li,#menu_s li {
	float:left;
}
#menu a,#menu_s a {
	display:block;
	width:190px;
	height:28px;
	background:#000;
	padding-top:8px;
	border-right:1px solid #fff;
	text-decoration:none;text-align:center;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;font-weight:bold;color:#fff;
	border:none;
}
#menu a:hover, #menu .current_page_item a,#menu_s a:hover {
	background:#BC1B32;
	text-decoration:none;
}
#menu .current_page_item a {
	background:#BC1B32;
	padding-left:0;
}
.slideshow { 
	margin: 0px 0px;
}
/* Page */
#page {
	width:660px;
	height:100%;
	margin: 0px 0px;
	padding: 30px 30px;
	text-align : justify;
	font-size:20px;
	display: inline-block;
	vertical-align: top;
}
#page h1{
	text-align : center;
	font-size:40px;
}
#menu_s{
	width:220px;
	margin:0px,200px;
	display: inline-block;
	vertical-align: top;
}
#menu_s a {
	width:220px;
}
/* Footer */
#footer {
	height:50px;
	margin:0 auto;
	width:950px;
	padding:0 0 15px 0;
	background:black;
	bottom: 0px;
	border-top:1px solid #DEDEDE;
	font-family:Arial,Helvetica,sans-serif;
}
#footer p {
	margin:0 11px;
	padding-top:20px;
	line-height:normal;
	font-size:9px;
	text-align:center;
	color:white
}
.fright {float:right}
.fleft {float:left}